name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

env:
  PYTHON_VERSION: "3.11"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          pip install poetry==1.3.2
          poetry install
      - uses: pre-commit/action@v3.0.1
