name: Publish Container
on:
  push:
    branches:
      - main

jobs:
  push_to_registry:
    name: Push to container registry
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Prepare
        id: prep
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/rfd-notify
          VERSION=2
          TAGS="${IMAGE_NAME}:${VERSION}"
          echo ::set-output name=tags::${TAGS}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to Packages
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.prep.outputs.tags }}
